################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SpotisticalWebApi/.vs/SpotisticalWebApi
/SpotisticalWebApi/SpotisticalWebApi/bin/Debug/net5.0
/SpotisticalWebApi/SpotisticalWebApi/obj
