<ul class="nav nav-tabs nav-justified" role="tablist">
  <li class="nav-item" role="presentation">
    <button style="width: 100%;" (click)="shortTermClicked();" [class]="shortTermClass" type="button">previous 4 weeks</button>
  </li>
  <li class="nav-item" role="presentation">
    <button style="width: 100%;" (click)="mediumTermClicked();" [class]="mediumTermClass" type="button">previous 6 months</button>
  </li>
  <li class="nav-item" role="presentation">
    <button style="width: 100%;" (click)="longTermClicked();" [class]="longTermClass" type="button">all time</button>
  </li>
</ul>

<p></p>

<div *ngIf="artists.length==0">
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
    </div>
  </div>
</div>

<table class="table table-borderless">
  <tr *ngFor="let artist of artists; let i = index">
    <td class="align-middle" style="width: 5%;">
      <p class="font-weight-bold">#{{i + 1}}</p>
    </td>
    <td style="width: 10%;">
      <img style="max-width: 100px;" [src]="artist.coverUrl">
    </td>
    <td class="align-middle" style="width: 85%;">
      <p class="font-weight-bold">{{artist.name}}</p>
    </td>
  </tr>
</table>