<div class="container">
  <div class="">
    <div class="">
      <div *ngIf="loginInProgress===false">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" routerLink="/">Spotistics</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                </li>
                <li class="nav-item" *ngIf="loggedIn===true">
                  <a class="nav-link" routerLink="top-tracks">Top tracks</a>
                </li>
                <li class="nav-item" *ngIf="loggedIn===true">
                  <a class="nav-link" routerLink="top-artists">Top artists</a>
                </li>
              </ul>
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a *ngIf="loggedIn===false" class="navbar-nav nav-item d-flex me-2 nav-link me-2 cursor-pointer" href="" (click)="logIn();">Log in</a>    
                  </li>
                  <li class="nav-item">
                      <a *ngIf="loggedIn===true" class="d-flex me-2 nav-link cursor-pointer" (click)="logOut()" >Log out</a>
                  </li>
              </ul>
              
            </div>
          </div>
        </nav>
    
        <div *ngIf="loggedIn===true">
          <h1 class="text-center">Welcome to Spotistics, {{userName}}</h1>
        </div>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>