<div *ngIf="loginInProgress===false">
    <nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top">
      <div class="container-fluid">
        <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
          <ul class="navbar-nav mx-auto">
            <a class="navbar-brand text-dark " routerLink="/"><img height="30px" src="../../assets/icon6.jpg">Spotistics</a>
            <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
            <li class="nav-item" *ngIf="loggedIn===true">
              <a [class]="homeClass" routerLink="/">Home</a>
            </li>
            <li class="nav-item" *ngIf="loggedIn===true">
              <a [class]="topTracksClass" routerLink="top-tracks">Top tracks</a>
            </li>
            <li class="nav-item" *ngIf="loggedIn===true">
              <a [class]="topArtistsClass" routerLink="top-artists">Top artists</a>
            </li>
            <li class="nav-item">
              <a *ngIf="loggedIn===false" class="nav-link cursor-pointer" (click)="logIn();">Log in</a>    
          </li>
          <li class="nav-item">
              <a *ngIf="loggedIn===true" class="nav-link cursor-pointer" (click)="logOut()">Log out</a>
          </li>
          </div>
          </ul>
          <ul class="navbar-nav">
              
          </ul>
        
      </div>
    </nav>
  </div>